@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
body {
  scroll-behavior: smooth;
  background-color: #ececec;
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21774f11;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.loading {
  font-size: 1.5rem;
  color: #111142;
  font-weight: 600;
  text-align: center;
}
.loading-details {
  margin: 1rem auto;
}
