.spinner {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
  border: 6px solid #43766c;
  border-color: #43766c transparent #43766c transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
