/* .home {
  background-image: url("../../public/assets/02-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000008a;
  z-index: 2;
}
