.container {
  /* margin-top: 2rem; */
  /* margin-bottom: 5rem; */
  margin: 2rem;
}
.tableContainer {
  overflow: auto;
}

table {
  width: fit-content;
  padding: 0.75rem 0.5rem;
  margin: 3rem auto;
  border-collapse: collapse;
}

tr th {
  border: 1px solid #9d9dc0;
  border-collapse: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #43766c;
  color: #fff;
  transition: 0.3s ease;
}

tr th:hover,
tr th.active {
  background-color: #a6a6b2;
}
tbody tr td {
  background-color: #ebebff;
  color: #000000;
  padding: 0.75rem;
  border: 1px solid #222;
}
.container button {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: #43766c;
  color: #fff;
  transition: 0.5s;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3rem;
  transition: 0.5s ease;
}
.delete {
  background-color: #9f8565 !important;
  cursor: pointer;
  color: #ececec;
}
.container button a {
  color: #fff;
  text-decoration: none;
}
.container button:hover {
  background-color: #43766c;
}
.container form {
  display: flex;
  flex-direction: column;
  background-color: #111142;
  color: #fff;
  padding: 3rem 2rem 0rem;
  font-size: 2rem;
  gap: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 12px;
  width: 50%;
}
.container form input,
.container form select,
.container form textarea {
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #58587b;
  color: #fff;
  border-radius: 12px;
}
.container input::placeholder {
  color: #ffffff6e;
}
.addTable {
  animation: table 0.7s;
}
/* .addTable.active {
  height: auto;
  transform: translateY(0);
  opacity: 1;
} */
.container form .btn {
  background-color: #1f1fc7;
}
.notes {
  white-space: pre;
}

@media (max-width: 767px) {
  .container form {
    width: 95%;
  }
  .container form input,
  .container form select,
  .container form textarea {
    font-size: 0.75rem;
  }
  tr th {
    padding: 6px 3px;
    font-size: 1rem;
  }
  tbody tr td {
    padding: 6px;
    font-size: 1rem;
  }
}

@keyframes table {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
