<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin-top: 7.5rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
      }
      a {
        text-decoration: none;
        padding: 1rem 1.5rem;
        color: #ececec;
        background-color: #43766c;
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 8px;
        transition: 0.15s ease;
      }
      a:hover {
        background-color: #60978d;
      }
    </style>
  </head>
  <body>
    <h1>Oops! Not found</h1>
    <h2>this page is not found</h2>
    <a href="http://localhost:5000/docs">Go to the docs page</a>
  </body>
</html>
