<!DOCTYPE html>
<html>
  <head>
    <title>404 Page Not Found</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        text-align: center;
      }

      h1 {
        font-size: 10em;
        color: #e91e63;
      }

      p {
        font-size: 2em;
        color: #9e9e9e;
      }

      a {
        font-size: 1.5em;
        color: #3f51b5;
        text-decoration: none;
      }

      a:hover {
        color: #e91e63;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>Oops! The page you are looking for does not exist.</p>
      <a href="https://tahfeeth-system.onrender.com/docs">Go back to home</a>
    </div>
  </body>
</html>
