<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Oops! Not found</h1>
    <h2>this page is not found</h2>
    <a href="http://localhost:5000/docs">Go to the docs page</a>
  </body>
</html>
