.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1.5rem;
}

.container input {
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background-color: #111142;
  color: rgb(255, 251, 12);
}

.container button {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: #111142;
  color: rgb(255, 251, 12);
  transition: 0.5s;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.container button:hover {
  background-color: #292955;
}

