.btns button,
.logout {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: #111142;
  color: #fff;
  transition: 0.5s;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.logout {
  fill: rgb(255, 251, 12);
  font-size: 2.5rem;
  text-align: center;
  /* margin: 0 auto 3rem; */
}
.settings {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.updateForm {
  transform: translateY(10%);
  height: 0;
  transition: all 0.7s;
  opacity: 0;
  overflow-y: hidden;
}
.addForm {
  height: auto;
  transform: translateY(0);
  opacity: 1;
}

.cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  background-color: #111142;
  color: #fff;
}

.student-info {
  font-weight: bold;
  margin-bottom: 10px;
}

.student-task {
  margin-bottom: 5px;
}
ul {
  list-style: none;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-button-delete,
.action-button-data {
  padding: 5px 10px;
  background-color: #ff2233;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 12;
  transition: 0.3s;
}
.action-button-data a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.action-button-data {
  background-color: #4242bd;
}

.active {
  transform: translateY(0);
  opacity: 1;
  height: auto;
  width: 17rem;
  background-color: #111142;
  margin: 1rem auto;
  border-radius: 12px;
  margin-bottom: 2rem;
}

@media (max-width: 544px) {
  .cart {
    width: 95%;
  }
}
